<!DOCTYPE html>
<html>

<head>
    <title>Artwork List</title>
</head>

<body>
    <h1>Artwork List</h1>
    <ul>
        {% for artwork in artworks %}
        <li>"{{ artwork.title }}" by {{ artwork.artist.artist_name }} Width: {{artwork.width}} Height:
            {{artwork.location.location}} Date Created: {{ artwork.date_created_month }}/{{ artwork.date_created_year }}
            Comments: {{artwork.comments|default:""}}
        </li>
        {% empty %}
        <li>No artworks available.</li>
        {% endfor %}
    </ul>
</body>

</html>